[finnhub]
key = bv4f2qn48v6qpatdiu3g
symbol = AAPL
start_time = 2020-6-1
end_time = 2020-6-2
resolution = 1

[question2]
start_time = 2018-1-1
end_time = 2020-12-31
resolution = D
symbol = AAPL

[question4]
//symbol = MMM, AAPL, DD, MSFT, T, ABT, AES, GOOG, BAC, C
symbol = MMM, AAPL
start_time=2020-6-1
end_time=2020-12-31

